.hide-draw {
    right: -60vw;
}
.open-draw {
    right: 0vw;
}
.main-drawer {
    transition: 0.3s all cubic-bezier(0, 0, 0, 1.13);
    position: fixed;
    height: 100vh;
    top: 0;
    width: 60vw;
    /* transform: translateX(10px); */
    z-index: 1111;
    background: white;
}
.drawer-nav {
    width: 97%;
    margin: auto;
    gap: 10px;
}
.integration-items {
    border-right: 1px solid #e2e8f0;
}
.item {
    border-bottom: 1px solid #e2e8f0;
}
