<div class="flex items-center justify-center min-h-screen main-div">
    <div
        class="flex w-4/5 m-auto bg-white rounded-lg overflow-hidden container-div"
    >
        <div class="w-4/6 flex justify-center items-center info-div text-white">
            <div class="flex flex-col justify-around h-3/5 w-4/5">
                <h1
                    class="text-6xl font-bold tracking-tight leading-tight heading"
                >
                    Built for you and<br />
                    your business
                </h1>
                <p>
                    ecommify.io is the latest product by the Wolfgroup team to
                    streamline custom integrations, dashboards, UIs and other
                    workflows into a simple, east to use platform.
                </p>
                <p>
                    Have things you'd love to automate?
                    <span class="hover:underline cursor">Contact us</span>
                </p>
            </div>
        </div>
        <div
            class="px-8 text-left rounded-lg w-2/4 flex flex-col justify-center"
        >
            <div class="flex flex-col">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-20 h-20 text-blue-600 m-0"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path d="M12 14l9-5-9-5-9 5 9 5z" />
                    <path
                        d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
                    />
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
                    />
                </svg>
                <h3
                    class="text-4xl font-extrabold tracking-tight leading-tight heading"
                >
                    Sign in
                </h3>
                <!-- <h5>Don't have an account? <a href="#">Sign up</a></h5> -->
                <div class="flex items-baseline mt-0.5 font-medium">
                    <div class="ng-tns-c180-1">
                        Don't have an account?
                        <span class="text-blue-600 hover:underline mt-1 cursor"
                            >Contact us</span
                        >
                    </div>
                </div>
            </div>
            <form [formGroup]="signInForm">
                <div class="mt-4">
                    <!-- Email field -->
                    <mat-form-field class="w-full">
                        <mat-label>Email address</mat-label>
                        <input id="email" matInput formControlName="email" />
                        <mat-error> Email address is required </mat-error>
                        <mat-error>
                            Please enter a valid email address
                        </mat-error>
                    </mat-form-field>

                    <!-- Password field -->
                    <mat-form-field class="w-full">
                        <mat-label>Password</mat-label>
                        <input
                            id="password"
                            matInput
                            type="password"
                            formControlName="password"
                            #passwordField
                        />
                        <button
                            mat-icon-button
                            type="button"
                            (click)="
                                passwordField.type === 'password'
                                    ? (passwordField.type = 'text')
                                    : (passwordField.type = 'password')
                            "
                            matSuffix
                        >
                            <mat-icon
                                class="icon-size-5"
                                *ngIf="passwordField.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye'"
                            ></mat-icon>
                            <mat-icon
                                class="icon-size-5"
                                *ngIf="passwordField.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye-off'"
                            ></mat-icon>
                        </button>
                        <mat-error> Password is required </mat-error>
                    </mat-form-field>
                    <div
                        class="inline-flex items-end justify-between w-full mt-1.5"
                    >
                        <mat-checkbox
                            [color]="'primary'"
                            formControlName="rememberMe"
                        >
                            Remember me
                        </mat-checkbox>
                        <a
                            class="text-md font-medium text-primary-500 hover:underline"
                            [routerLink]="['/forgot-password']"
                            >Forgot password?
                        </a>
                    </div>
                </div>
                <button
                    type="submit"
                    class="submit-button mat-focus-indicator fuse-mat-button-large w-full mt-6 ng-tns-c132-6 mat-flat-button mat-button-base mat-primary"
                    (click)="signIn()"
                    [disabled]="!signInForm.valid"
                >
                    <span *ngIf="!signInForm.disabled"> Sign in </span>
                    <mat-progress-spinner
                        *ngIf="signInForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"
                    ></mat-progress-spinner>
                </button>
            </form>
        </div>
    </div>
</div>
