<div class="container">
    <div class="avatar">
        <img
            src="assets/images/avatars/male-18.jpg"
            alt="..."
            class="avatar-img"
        />
    </div>
    <div class="user-info">
        <span class="user-name"> Ben Jones </span>
        <div class="company-info">
            <span class="company-name"> WolfGroup </span>
            <!-- divider -->
            <span class="divider">|</span>
            <span class="company-name"> WolfGroup </span>
        </div>
        <div class="email">
            <span class="email-address"> bjones@gmail.com </span>
        </div>
    </div>
</div>
